* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    position: relative;
    padding: 10px;
    background: rgba(139, 139, 139, 0.349);
}

.upperPanel {
    height: 200px;
    width: 100%;
    background: rgb(189, 175, 170);
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.274)
}

.adminNav {
    position: sticky;
    top: 10px;
    width: 100%;
    height: 70px;
    border-radius: 5px;
    background: rgb(30, 155, 228);
    margin-bottom: 10px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.274);
    display: flex;
    justify-content: space-between;
}
    .brand {
        height: 100%;
        background: rgb(42, 120, 209);
        padding: 10px 20px;
        font-size: 2em;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.3s;
    }
    .brand:hover {
        background: rgb(21, 106, 202);
        text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.493);
        color:rgb(236, 238, 96)
    }
    .links {
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-right: 10px;
        width: 350px;
    }
        .link1 {
            height: 70%;
            width: 100px;
            background: rgb(105, 96, 231);
            border-radius: 5px;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            transition: 0.3s;
        }
        .link1:hover {
            background: rgb(82, 75, 182);
            color:rgb(177, 248, 195)
        }
        .profile {
            height: 70%;
            width: 150px;
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            background: rgb(105, 96, 231);
            cursor: pointer;
            transition: 0.3s;
        }
        .profile:hover {
            background: rgb(82, 75, 182);
            color:rgb(177, 248, 195)
        }
        .proClicked {
            height: 300px;
            width: 200px;
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            background: rgb(105, 96, 231);
            cursor: auto;
            transform: translate(0, 195px);
        }
            .inNav {
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                padding: 5px;
                transition: 0.3s;
            }
            .iNClicked {
                height: 60%;
                flex-direction: column;
                align-items: center;
            }
                .userPic {
                    height: 100%;
                    aspect-ratio: 1;
                    transition: 0.3s;
                }
                .uPClicked {
                    height: 80%;
                }
                    .userPic img {
                        height: 100%;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        transition: 0.3s;
                    }
                .userName {
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.3s;
                }
                .uNClicked {
                    color:rgb(198, 255, 255);
                    height: 20%;
                    font-size: 20px;
                }
            .outNav
            {
                height: 0%;
                text-align: center;
                color: white;
                font-size: 18px;
                transition: 0.3s;
                visibility: hidden;
                transform: scale(0);
            }
            .oNClicked {
                height: 40%;
                padding: 5px;
                visibility: visible;
                transform: scale(1);
            }
            .proClosed {
                position: absolute;
                background: turquoise;
                cursor: pointer;
                height: 30px;
                aspect-ratio: 1;
                top: 0;
                right: 0;
                margin: 5px;
                font-size: 25px;
                border-radius: 50%;
                color: white;
                transition: 0.3s;
                transform: rotate(45deg) scale(0);
                visibility: hidden;
            }
            .pCClicked {
                transform: rotate(45deg) scale(1);
                visibility: visible;
            }

.secondBody {
    display: flex;
    justify-content: space-between;
    height: 1000px;
}

.sidePanel {
    position: sticky;
    top: 90px;
    width: 30%;
    background: #949398FF;
    height: 500px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.274)

}
    .sidePanelBrand {
        height: 70px;
        background: cornflowerblue;
        border-radius: 5px 5px 0 0;
        color: white;
        font-size: 30px;
    }
    .buttons {
        color: #F4DF4EFF;
    }
        .menu {

        }
            .btn-link {
            }
                .menu li a {
                    display: block;
                    text-decoration: none;
                    color: #F4DF4EFF;
                    height: 50px;
                    font-size: 20px;
                    text-align: center;
                    line-height: 50px;
                    cursor: pointer;
                    position: relative;
                    transition: all 0.5s;
                    border-left: 5px solid #F4DF4EFF;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.349);
                }
                .menu li a:hover {
                    background: rgb(124, 123, 126);
                }
                .btn-link .sub-menu {
                    height: 0;
                    overflow-y: hidden;
                    transition: all 0.5s;
                }
                .menu-active {
                    height: auto;
                    overflow-y: hidden;
                }
                
                .btn-link .sub-menu li {
                    list-style: none;
                    font-size: 16px;
                    height: 40px;
                    text-align: right;
                    line-height: 40px;
                    padding: 5px;
                    transition: 0.5s;
                }

.contentPanel {
    width: 100%;
    background: darkorange;
    height: 500px;
    border-radius: 5px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.274)
}












.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}