* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    padding: 10px;
}

.upperPanel {
    height: 200px;
    width: 100%;
    background: rgb(189, 175, 170);
    border-radius: 5px;
    margin-bottom: 10px;
}

.adminNav {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background: rgb(30, 155, 228);
    margin-bottom: 10px;
}

.secondBody {
    display: flex;
    justify-content: space-between;

}

.sidePanel {
    width: 30%;
    background: cyan;
    height: 300px;
    border-radius: 5px;
}

.contentPanel {
    width: 69%;
    background: darkorange;
    height: 300px;
    border-radius: 5px;
}